/*font Variables*/
$primary-font: 'Crimson Text', serif;
$title-font: 'Montserrat', sans-serif;


/*Color Variables*/
$primary-color: #00aee0;
$primary-color2: #00fedc;
$title-color: #222222;
$text-color: #777777; 


/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:400,600');




